<div class="modal fade" id="{{item.nombre}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalToggleLabel">{{ item.nombre | uppercase }}</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h4>{{ item.nivel | uppercase }}</h4>

            <p> {{ item.descripcion }} </p>
        </div>
        
      </div>
    </div>
  </div>
 
  <a class="btn mx-1 mb-2" data-bs-toggle="modal" href="#{{item.nombre}}" role="button">{{ item.nombre }}</a>