.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    opacity: .7;
    z-index: 999;
}

.navbar ul li a{
    transition: 0.3s;
    font-size: 1.2rem;
    font-family: dinpro-regular;
    font-weight: bold;
}

@media screen and (min-width: 992) {
    .navbar ul li a{
        width: 200px;
    }
}

.navbar ul li a:hover{
    background-color: rgb(0, 8, 29);
    color: white;
    border-radius: 30px;
}

.navbar-brand{
    overflow: hidden;
}
.navbar-brand img{
    width: 60px;
    transform: scale(1.3);
}
