<div class="container-fluid p-0">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
        <div class="container-fluid">
            <a class="navbar-brand p-0 m-0" href="/"><img class="img-fluid" src="assets/img/logo.png" alt="@RODOLFOALDANAJB"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-lg-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link py-lg-4 px-lg-5 text-center" aria-current="page" [routerLink]="['/']" [routerLinkActive]="['actived']">INICIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-lg-4 px-lg-5 text-center" [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">PROYECTOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-lg-4 px-lg-5 text-center" [routerLink]="['/contacto']" [routerLinkActive]="['actived']">CONTACTO</a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>

</div>